<%- include('./partials/header') %>
<link rel="stylesheet" href="/static/pagination.css">
<script src="/static/pagination.js?t=123"></script>
<script type="text/javascript">tag='archive';</script>

<div class="container">
    <p class="title is-3" style='margin-top: 24px'>文章总览</p>
    <div id="list"></div>
    <div id="pagination"></div>
</div>
<script type="text/javascript">
    let pageIndex = 1;
    $(function () {
        paginator();
    })
    var paginator = function () {
        var container = $('#pagination');
        if (!container.length) return;
        container.pagination({
            dataSource: `/api/pagelist`,
            locator: 'pages',
            pageNumber: pageIndex,
            showSizeChanger: true,
            totalNumberLocator: function (res) { return res.total; },
            pageSize: 10,
            ajax: {
                beforeSend: function () {
                    $('#list').html(`<p style='text-align:center;font-size:16px;magin:40px auto;'>正在获取数据，请稍候 ......</p>`);
                }
            },
            callback: function (data, pagination) {
                setTimeout(function () { genHtml(data); }, 500);
                pageIndex = pagination.pageNumber;
            }
        })
    }
    function genHtml(data) {
        var dataHtml = "<table class='table is-fullwidth is-hoverable is-striped'>";
        dataHtml += '<thead><tr><th>标题</th><th>发布时间</th><th>编辑时间</th></tr></thead><tbody>'
        $.each(data, function (index, item) {
            dataHtml += '<tr>';
            dataHtml += `<td><a href='/page/${item.link}'>${item.title}</a></td>`;
            dataHtml += `<td><time>${item.createdAt.substring(0, 10)}</time></td>`;
            dataHtml += `<td><time>${item.updatedAt.substring(0, 10)}</time></td>`;
            dataHtml += '</tr>';
        })
        dataHtml += '</tbody></table>'
        $('#list').html(dataHtml);
    }

</script>
<%- include('./partials/footer') %>
