<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="/page/<%= links.prev.link%>">上一篇：<%= links.prev.title%></a>
    <a class="pagination-next shadow" href="/page/<%= links.next.link%>">下一篇：<%= links.next.title%></a>
</nav>